body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.sign-up-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #1877f2;
}

p {
    font-size: 14px;
    color: #505050;
    margin-top: 10px;
}

.choice-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;
    color: #505050;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}
.form-button:hover {
    background-color: #f0f2f5;
    color: #1877f2;
}
.icon-button{
    margin-right: 8px;
}
.center{
    align-items: center;
}
